/*****************************TAGS SELECTOR*******************************/

body{
        font-family: 'Merriweather', serif;
    color: rgb(16, 41, 41);
    margin: 0;
    text-align: center;
    }
h1{
  margin:0;
    font-family: 'Merriweather', cursive;
    font-size: 3em;
    color: #66BFBF;
    line-height: 2;
}
h2{
    color: #66BFBF;
    font-weight: normal;
}

h4{
  color: #66BFBF;
  font-weight: normal;
}

h3{
    color: #11999E;
}


nav{
    background-color: #5F7161;
}
li:hover{
    background-color: #6D8B74;
    border-radius: 10px;
}
header{
      padding-top: 0.9em;
    background-color: #6D8B74;
        }

button{
      background-color: #6D8B74;
      border-style: solid;
      border-radius: 5px;
      border-width: 2px;
      font-size: medium;
      color: white;
      }

  p{
    color: #40514E;
    font-family:Arial, Helvetica, sans-serif;
  }

 
  table {
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}
thead {
    display: none;
}
tr:nth-of-type(2n) {
    background-color: inherit;
}
tr td:first-child {
    background: #f0f0f0;
    font-weight:bold;
    font-size:1.3em;
}
tbody td {
    display: block;
    text-align:center;
    font-size:1em;
    padding: 1% 2%;
}
tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
}

      /***********************CLASS SELECTORS*********************/
.logo{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    text-decoration:none;
    color: #EFEAD8;
    padding: 0.6em;
    background-color: #EAF6F6; 
  }
.flex-position{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
   

    .perfil{
      width: 30%;
      float: left;
      margin-right: 30px;
      border-radius: 50%;

    }
  
.top-container{
  background-color: #EAF6F6;
  line-height: 2;
  text-align: center;
  padding: 3% 10%;
   }
  
  .middle-container{
    position: relative;
    padding-top: 3%;
    line-height: 2;
    margin-left: 9%;
    margin-right: 9%;
      }
  
      .formacion{
    margin: 5% 10%;
    line-height: 2;
  }
  .presentacion{
    margin: 3% 20%;
    line-height: 2;
    text-align: center;

  }
  .titulo{
    background-color: #EAF6F6;
    padding: 2%;
    margin: 2% 20%;
  }
 
  .bloque-texto{    
    width: 80%;
    margin: 5% auto;
    text-align: center;
    text-align: justify;
    float: inline-end;
   }

    .bottom-container{
    background-color:  #EAF6F6;
    padding-bottom: 3%;
    padding-top: 2%;
    color:#ffffff;
  }
.redes{
  margin:30px 100px;
}
  .contact-me{
    padding-bottom: 5%;
  }
  .link {
    color: #11999E;
  }
  .footer-links{
    color:#11999E;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    font-weight: 600;
    font-size: 1em;
    padding: 9px;
  }

  .habilidad{
    color:#11999E;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    font-weight: 600;
    padding: 0 5%;
    width: 15rem;
 }
  .texto-coloreado{
    color:#11999E;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    font-weight: 600;
    padding: 1rem;
    width: 1rem;
 }


  .iconoizq {
    width: 30%;
    float: left;
    margin-right: 30px;
    
    vertical-align:baseline;
  }
  .iconoder {
    width: 25%;
    float:right;
    margin-left: 30px;
  }
  
    .footer{
      background-color: #66BFBF;
      padding: 3% 15%;
   
    }
    .btn{
      background: #66BFBF;
      background-image: -webkit-linear-gradient(top, #66BFBF, #60abab);
      background-image: -moz-linear-gradient(top, #66BFBF, #60abab);
      background-image: -ms-linear-gradient(top, #66BFBF, #60abab);
      background-image: -o-linear-gradient(top, #66BFBF, #60abab);
      background-image: linear-gradient(to bottom, #66BFBF, #60abab);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      
    }

    .btn:hover{
      background: #91e3e3;
      background-image: -webkit-linear-gradient(top, #91e3e3, #6ac9c9);
      background-image: -moz-linear-gradient(top, #91e3e3, #6ac9c9);
      background-image: -ms-linear-gradient(top, #91e3e3, #6ac9c9);
      background-image: -o-linear-gradient(top, #91e3e3, #6ac9c9);
      background-image: linear-gradient(to bottom, #91e3e3, #6ac9c9);
      text-decoration: none;
    }
    /***id selecctors***/

    #primer-bloque, #segundo-bloque, #tercer-bloque{
display: none ;
    }

    #expproduccion, #exprealizacion{
      padding-bottom:3%;
      vertical-align: middle;
       }

       .habilidades{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
       }
    /***responsive tamaño movil***/

    @media screen and (max-width: 640px){
      .habilidades{
        font-size: 1em;
      }
      tbody td{
        font-size: 1em;
      }
      tr td:first-child {
       font-size: 1em;
    }

    .top-container{
         padding: 0% 5% 2% 5%;
       }
      .middle-container{
        margin-left: 5%;
        margin-right: 5%;
    }

    .presentacion{
      margin: 3% 10%;
    }
    .bloque-texto{
      width: 90%;
    }
    .perfil {
      width: auto;
     max-height: 10em;
     float: none;
     margin-right: 0px;
    }
    h1{
      font-size: 1.5em;
      }
      h2{ 
        font-size: 1.2em;
      }
      h3{ 
        font-size: 1em;
        text-align: center;
      }
  
      h4{ 
        font-size: 0.7em;
      }
      
  }



  
/***responsive tamaño tablet***/
@media screen and (max-width:1007px) and (min-width:641px) {
  .perfil {
    width: auto;
   max-height: 15em;
  }
  h1{
    font-size: 2.5em;
    }
    h2{ 
      font-size: 1.2em;
    }
    h3{ 
      font-size: 1em;
    }

    h4{ 
      font-size: 0.7em;
    }
    .middle-container{
      margin-left: 7%;
      margin-right: 7%;
}
}

.en{
  display:none;
}
